# ignore zip files
*.zip

# AtelierB project setup related
bdp/
lang/

# ProB generated
*.prob

# Exclude copies of Robot and Maze machines inside the submission folder
submission/robot.mch
submission/maze.mch
